@import "tailwindcss";

@theme {
    --color-primary-100: #0085ff;
    --color-primary-200: #69b4ff;
    --color-primary-300: #e0ffff;
    --color-accent-100: #2ed8cd;
    --color-accent-200: #5beddf;
    --color-text-100: #FFFFFF;
    --text-200: #9e9e9e;
    --color-bg-100: #121212;
    --color-bg-200: #2d2d2d;
    --color-bg-300: #454545;

    --color-cetzz: #49537e;
    --color-labs: #18183a;
    

}

* {
    scroll-behavior: smooth;
}

.tecnology {
    @apply inline-flex items-center gap-2 px-3 py-1 text-sm text-accent-100 bg-primary-100/10 rounded-full border border-primary-200/20
}

.btn-primary {
    @apply px-6 py-3 bg-linear-to-r from-primary-100 to-primary-200 rounded-lg font-medium transition-all duration-100 hover:scale-105 active:scale-95 hover:shadow-lg hover:shadow-primary-100/50;
}

.btn-secondary {
    @apply px-6 py-3 border border-stone-600 rounded-lg font-medium transition-all duration-100 hover:scale-105 active:scale-95 hover:shadow-lg hover:shadow-primary-100/50 hover:border-primary-200
}

.btn-primary-accent {
    @apply px-6 py-3 bg-linear-to-r from-accent-100 to-accent-200 rounded-lg font-medium transition-all duration-100 hover:scale-105 active:scale-95 hover:shadow-lg hover:shadow-primary-100/50;
}

.btn-secondary-accent {
    @apply font-medium transition-all duration-100 text-accent-100 hover:text-accent-200
}

.btn-project-link {
    @apply inline-flex items-center font-medium text-accent-100 rounded-lg cursor-pointer hover:text-accent-200 transition-colors duration-100
}

.animate-mobileMenu {
    animation: mobileMenu 0.3s ease-in-out forwards;
}

.animate-mobileMenuClose {
    animation: mobileMenuClose 0.3s ease-in-out forwards;
}

@keyframes mobileMenu {
    from {
        transform: translateY(-100%);
        scale: 0;
    }
    to {
        transform: translateY(0);
        scale: 1;
    }
}

@keyframes mobileMenuClose {
    from {
        transform: translateY(0);
        scale: 1;
    }
    to {
        transform: translateY(-100%);
        scale: 0;
    }
}
